@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');


body {
    text-align: center;
    font-style: Elms Sans;  
}

p {
    text-align: justify;
}