

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');




body {
    text-align: center;
    color:black;
}
h1 {
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  text-align:center;
  font-size:large
}
p {
    text-align: justify;
}
.pythn {
    text-underline-position: below;
    color:blue;hb
}